body {
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
  padding: 20px;
  border-radius: 50%;
}

.scb-team-description {
  line-height: 3em;
}
.scb-card {
  background-color: rgba(235, 245, 220, 0.521);
  padding-bottom: 10px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 2px solid purple;
  border-bottom: 5px solid purple;
}
h3 {
  text-transform: capitalize;
  color: brown;
}
.scb-p {
  color: black;
  text-transform: capitalize;
}
